ion-content {
  --background: var(--app-color-background);

  & > div {
    width: 80%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
    display: flex;
    flex-direction: column;

    app-input {
      margin-bottom: 1rem;
      margin-left: auto;
      margin-right: auto;
    }

    div {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-top: 1rem;

      & > a {
        color: var(--app-color-link);
        font-size: 1.3rem;
      }
      & > p {
        margin-top: 5rem;
        color: var(--app-color-text);

        a {
          color: var(--app-color-link-muted);
        }
      }
    }
  }
}
